<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br/>
<p>You are currently logged in as {{user.username}}</p>
<br/>
<p>Your account was created at {{user.createdAt}}</p>
<br/>
<p>Your account was updated at {{user.updatedAt}}</p>
<br/>
<a href="/users">Info</a>
<br/>
<a href="/users/add">Register</a>
<br/>
<a href="/logout">Logout</a>
